*.gem
Gemfile.lock
vendor
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.log

# YARD artifacts
.yardoc
_yardoc
doc/

#Config files
config/database.rb
config/auth.rb
config/redis.rb
config/mail.rb

#Mysql Workbench backup files/home/bashar/Téléchargements/PhpProject1/css
/home/bashar/Téléchargements/PhpProject1/img
/home/bashar/Téléchargements/PhpProject1/js
/home/bashar/Téléchargements/PhpProject1/node_modules
/home/bashar/Téléchargements/PhpProject1/views
/home/bashar/Téléchargements/PhpProject1/index.html
/home/bashar/Téléchargements/PhpProject1/static_server.js
*.bak

#Temp spec files
spec/fixtures/
spec/lib/alimentation/alimentor.rb
spec/lib/alimentation/db_sync.rb
spec/lib/alimentation/diff_generator.rb
spec/lib/alimentation/parser_xml_menesr.rb