<div class="container-fluid">
  <div class="row-fluid">
    <div class="well span25">
      <ul class="nav nav-list">
          <li class="nav-header">
            <img src="img/glyphicons/glyphicons_003_user.png"></img>Utilisateurs
          </li>
            <li>
              <a id="show_users" ng-click="subPage='partials/admin/users.html'">Tous les utilisateurs</a>
            </li>
            <li>
              <a href="#/alimentor">Alimentation automatique</a>
            </li>
            <li>
              <a href="#alim_man">Alimentation manuelle</a>
            </li>
          <li>
            <a href="#/user/add">Ajouter</a>
          </li>
          <li class="nav-header">
            <img src="img/glyphicons/glyphicons_305_temple_buddhist.png"></img>Etablissements
          </li>
            <li>
              <a id="show_etablissements" ng-click="subPage='partials/admin/etablissements.html'">tous les etablissements</a>
            </li>
            <li>
              <a href="#/admin_laclasse/etablissement/add">Ajouter</a>
            </li>
          <li class="nav-header">
              <img src="img/glyphicons/glyphicons_280_settings.png"></img>Applications
          </li>
              <li>
                  <a ng-click="subPage='partials/admin/applications.html'">Toutes les applications</a>
              </li>
              <li>
                  <a href="#/admin_laclasse/applications/add">Ajouter</a>
              </li>
      </ul>
    </div>
    <div class='span95' id="laclassecontent">
      <ng-include src="subPage"></ng-include>
    </div> 
  </div> 
</div> <!--container fluid -->

