<div class="container-fluid">
  <div class="well span25">
    <ul class="nav nav-list">
        <li class="nav-header">
          <img src="img/glyphicons/glyphicons_003_user.png"></img>Utilisateurs
        </li>
            <li>
              <a href="#/users">Tous les utilisateurs</a>
            </li>
            <li>
              <a href="#/alimentor">Alimentation automatique</a>
            </li>
            <li>
              <a href="#alim_man">Alimentation manuelle</a>
            </li>
            
            <li>
              <a href="#/user/add">Ajouter</a>
            </li>
        <li class="nav-header">
          <img src="img/glyphicons/glyphicons_305_temple_buddhist.png"></img>Etablissements
        </li>
          <li>
            <a id = "show_etablissements" href="#/etablissements">Tous les établissements</a>
          </li>
          <li>
            <a href="#/etablissement/add">Ajouter</a>
          </li>
        <li class="nav-header">
            <img src="img/glyphicons/glyphicons_280_settings.png"></img>Applications
        </li>
            <li>
                <a href="#/applications">Toutes les applications</a>
            </li>
            <li>
                <a href="#/applications/add">Ajouter</a>
            </li>
    </ul>
</div>

<!-- 
<div id="laclassecontent" ng-view></div>
--> 