
<div id = "grid_header_toolbar" class="row"> 

    <div class="span4">
        <label>Chercher: </label>    
        <input type="search" ng-model="searchPhrase" class="input-medium search-query" placeholder="chercher">
        <button type="submit" class="btn"><i class="icon-search"></i></button>
    </div>
    <div> number of pages: <span>{{Math.ceil(total/rpp)}} </span><br/>
    	record par page : {{rpp}} <br/>
    	total : {{total}}
    </div>
    <div class="span4">
    	<!--
		<pagination  num-pages="noOfPages" current-page="currentPage" class="pagination-large"></pagination>
    	<div class="pagination pull-right">
            <ul>
                <li ng-class="{disabled: currentPage == 0}">
                    <a href ng-click="prevPage()">« Prev</a>
                </li>
                
                <li ng-repeat="n in range(pages+1)"
                    ng-class="{active: n == currentPage}"
                	ng-click="setPage()">
                    <a href ng-bind="n + 1">{{n}}</a>
                </li>
                <li ng-class="{disabled: currentPage == pages- 1}">
                    <a href ng-click="nextPage()">Next »</a>
                </li>
            </ul>
        </div>
    	-->   
    </div>
    <div class = "span4">
        <label> Record par page: </label>
        <select ng-model="rpp" ng-options="v for v in recordParPage"></select>
    </div>
</div> 

	<table  id="etablissementGrid" class="table table-bordered table-striped" angrid>
	  <thead> 
	    <tr>
	     <th>Uai</th>
	     <th>Nom</th>
	     <th>Contacts</th>
	     <th>Alimenté ?</th>
	     <th>Domaine</th>
	     <th>Vie Scolaire</th>
	     <th>TODO</th>
	     <th>Géolocalisation</th>
	     <th>Nb. Comptes</th>
	     <th>Nb. Regroupements</th>
	     <th>Action</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr  ng-repeat="etab in etablissements">
	        <td>{{etab.code_uai}}</td>
	        <td>{{etab.nom}}</td>
	        <td> contacts(to be added to etab entity or api)</td>
	        <td><span class="label label-success">Oui</span></td>
	        <td>foobar.laclasse.com</td>
	        
	        <td>
	          <a href="http://blogs.laclasse.com.blogs.laclasse.com/wp-admin/" target="_blank">Blog du collège</a>
	        </td>
	        
	        <td>
	          <span class="label label-important">Pronote</span>
	        </td>
	        <td>
	          <span class="badge badge-important">5</span> comptes à activer
	        </td>
	        <td>
	          <a href="#"  id="geo_button">Géolocaliser</a>
	        </td>
	        <td>
	          <strong>49</strong> Elèves </br>
	          <strong>93</strong> Parents </br>
	          <strong>19</strong> Personnels </br>
	        </td>
	        <td>
	          <strong>16</strong> Classes </br>
	          <strong>10</strong> Groupes </br>
	        </td>
	        <td>
	            <a href="#" class="btn" id="add_user"><i class="icon-edit"></i>editer</a>
	            </br> </br><a href="#" class="btn"><i class="icon-cog"></i> Administrer </a>
	        </td>
	    </tr>
	  </tbody>
	</table>

	<pagination num-pages="noOfPages" current-page="currentPage" class="pagination-large"></pagination>
	<a href="#" class="btn btn-primary"><i class="icon-plus icon-white"></i>ajouter un etablissement</a>
<!--
<div id = "grid_footer_toolbar" class= "row">
	<pagination num-pages="noOfPages" current-page="currentPage" class="pagination-large"></pagination>
	<a href="#" class="btn btn-primary"><i class="icon-plus icon-white"></i>ajouter un etablissement</a>
</div> 
<div  ng-grid="gridOptions"></div>

-->

