<div class="container row">
  <div class='span95'>

    <div class="alert  alert-error" ng-show ="!currentUser.isAuthenticated()">
       login first to access to administration pages
    </div>

    <div id="home-content" class="hero-unit">
      <center>
        <p>
          <a class="btn btn-large btn-inverse" href="#/admin_laclasse">Administration laclasse.com</a>
        </p>
        <p>
          <a class="btn btn-large" href="#/admin_etab">Administration Etablissement</a>
        </p>
      </center>
    </div>
  </div>
</div>  