<div  id = "Grid" class="span well" ng-controller='EtabCtrl'>
		<div id = "grid_header_toolbar" class="row"> 
		    <div class="span4">
		        <label>Chercher: </label>    
		        <input type="search" ng-model="searchText" class="input-medium search-query" placeholder="chercher">
		    </div>
		    <div class = "span4">
		        <label> Record par page: </label>
		        <select ng-model="limit" ng-options="v for v in recordParPage"></select>
		    </div>
		</div>
    	<div class="row">
		    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="etabs_table">
			  <thead> 
			    <tr>
			     <th>Uai</th>
			     <th>Nom&nbsp;<a><i class="icon-sort" ng-click=sort_by('nom')></i></th>
			     <th>Contacts</th>
			     <th>Alimenté ?</th>
			     <th>Domaine</th>
			     <th>Application</th>
			     <th>TODO</th>
			     <th>Géolocalisation</th>
			     <th>Nb. Comptes</th>
			     <th>Nb. Regroupements</th>
			     <th>Action</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr  ng-repeat="etab in etabs.data">
			        <td>{{etab.code_uai}}</td>
			        <td>{{etab.nom}}</td>
			        <td> contacts(to be added to etab entity or api)</td>
			        <td><span class="label label-success">Oui</span></td>
			        <td>foobar.laclasse.com</td>
			        
			        <td>
			          <a href="http://blogs.laclasse.com.blogs.laclasse.com/wp-admin/" target="_blank">Blog du collège</a>
			        </td>
			        
			        <td>
			          <span class="label label-important">Pronote</span>
			        </td>
			        <td>
			          <span class="badge badge-important">5</span> comptes à activer
			        </td>
			        <td>
			          <a href="#"  id="geo_button">Géolocaliser</a>
			        </td>
			        <td>
			          <strong>49</strong> Elèves </br>
			          <strong>93</strong> Parents </br>
			          <strong>19</strong> Personnels </br>
			        </td>
			        <td>
			          <strong>16</strong> Classes </br>
			          <strong>10</strong> Groupes </br>
			        </td>
			        <td>
			            <a href="#" class="btn" id="add_user"><i class="icon-edit"></i>editer</a>
			            </br> </br><a href="#" class="btn"><i class="icon-cog"></i> Administrer </a>
			        </td>
			    </tr>
			  </tbody>
			</table>
		</div> 

		<pagination num-pages="noOfPages" current-page="currentPage" class="pagination-large" max-size="maxSize"></pagination>
		<a href="#" class="btn btn-primary"><i class="icon-plus icon-white"></i>ajouter un etablissement</a>
</div>

	


